doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet prefetch' href='http://cdn.foundation5.zurb.com/foundation.css')
    link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/css/dataTables.foundation.css')
    link(rel="stylesheet" href="../css/style.css")


    script(src='http://code.jquery.com/jquery-1.11.3.min.js' onload="window.$ = window.jQuery = module.exports;")
    script(src='http://cdn.foundation5.zurb.com/foundation.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.9/js/jquery.dataTables.min.js')
    script(src='../js/index.js')         
        
    include ./mixing.jade
  include ./page.jade
