mixin summary_line(id)
    .row
     .small-3.columns
        p(id='hist'+id class="chart")
     .small-3.columns
         p(id='line'+id class="chart")
     .small-3.columns
       p(align="center") 8888  
     .small-3.columns
       .small-6.columns
         p 8888 
       .small-6.columns
         p 545
       .small-6.columns
         p 8888 
       .small-6.columns
         p 545


mixin summary
    ul.accordion(data-accordion='')
      li.accordion-navigation
        a(href='#panel1a') Accordion 1
        #panel1a.content.active
          | Panel 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      li.accordion-navigation
        a(href='#panel2a') Accordion 2
        #panel2a.content
          | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      li.accordion-navigation
        a(href='#panel3a') Accordion 3
        #panel3a.content
          | Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

mixin dopage

    ul.accordion(data-accordion='')
        li.accordion-navigation
          a(href='#panel_1a' )

            +summary_line(1)

          #panel_1a.content.active
             .row
               .small-1.columns
                 p 

               .small-10.columns
                 p
                  table(id="tttable" class="display" width="100%")
        li.accordion-navigation
          a(href='#panel_2a')
            +summary_line(2)
          #panel_2a.content
            | Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        li.accordion-navigation
          a(href='#panel_3a') 
            +summary_line(3)
          #panel_3a.content
            | Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


