
body
    .parallax
      input#menu-toggle.hidden(type='checkbox')
      label(for='menu-toggle')
        span.glyphicon
      .menu
        h2 Dashboard
        ul
          li FILTERS
          li
            a.active(href='javascript:void(0)' id="a_report") Reports
          li
            a(href='javascript:void(0)' id="a_doc") Documents
          li
            a(href='javascript:void(0)' id="a_review") Reviews
          li
            a(href='javascript:void(0)' id="a_msg") Messages

      .content
        .container
          .row
            .col-md-12
              h1 Consectetur adipiscing
              hr
            // /.col-md-12
            #report
             .col-sm-12
                dl.tabs(data-tab='')
                 dd.tab-title.active(role='presentation')
                    a(href='#panel2-1', role='tab', tabindex='0', aria-selected='true', aria-controls='panel2-1') Tab 1
                  dd.tab-title(role='presentation')
                    a(href='#panel2-2', role='tab', tabindex='0', aria-selected='false', aria-controls='panel2-2') Tab 2
                  dd.tab-title(role='presentation')
                    a(href='#panel2-3', role='tab', tabindex='0', aria-selected='false', aria-controls='panel2-4') Tab 4
                .tabs-content
                  
                    #panel2-1.content.active
                      +dopage
                    #panel2-2.content
                       +summary
                    #panel2-3.content
                      p Third panel content goes here...
                    #panel2-4.content
                      #dragdrop Drag file here

            


            
